<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
<!--<div ng-app="" ng-init="firstName='Mahesh'">
	<input type="text" ng-model="name">
	<input type="text" ng-model="place">
	<p ng-bind="name"></p>
	<p ng-bind="firstName+' '+place"></p>
	<p>{{10+10}}</p>
	<p>{{name}}</p>
</div>-->
<div ng-app="myApp" ng-controller="myCtrl" ng-init="value1=10;value2=5;person={age:25,gender:'M'};">
	First Name : <input ng-model="firstName" type="text">
	Last Name : <input ng-model="lastName" type="text">
	Full Name : {{firstName+" "+lastName}}
	<p ng-bind="value1*value2"></p>
	{{'I\'m'+ " " +person.age}}
	<p ng-bind="person.gender"></p>
</div>
<script>
 var app=angular.module('myApp',[]);
 app.controller('myCtrl',function($scope){
	$scope.firstName="Mahesh";
	$scope.lastName="Kommisetti";
});
</script>
</body>
</html>
